시각화에 사용할 모든 데이터는 ./data 폴더 내부에 위치시켜주세요

In [5]:
import os
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.python.summary.summary_iterator import summary_iterator
from IPython.display import display

In [6]:
ROOT = 'data/'
import data_manage as dm
import visualization as vis 
import lrlo

In [7]:
log_dir = ROOT + "logs/" + "240318-184226_videopath_JK_rewardmethod_10_importantmethod_021_threshold_0.35"

df = dm.load_log(log_dir)
dm.df_info(df)

DataFrame Info:
==================================================
✲ Shape: (150, 3)
✲ Columns:
Index(['Reward/all', 'Reward/10', 'Network/send_a(t)'], dtype='object')

✲ Data Types:
Reward/all           float64
Reward/10            float64
Network/send_a(t)    float64
dtype: object

✲Non-null Value Counts:
Reward/all           150
Reward/10            150
Network/send_a(t)    150
dtype: int64

DataFrame HEAD:
--------------------------------------------------

   Reward/all   Reward/10  Network/send_a(t)
0  215.047760  215.047760             6498.0
1  199.392685  199.392685             6208.0
2  204.533752  204.533752             6220.0
3  202.872406  202.872406             6304.0
4  197.942703  197.942703             6133.0

DataFrame TAIL:
--------------------------------------------------

     Reward/all   Reward/10  Network/send_a(t)
145  237.753036  237.753036             4663.0
146  247.307404  247.307404             6172.0
147  234.705673  234.705673             5429.0
148  240.958954  240.958954             5342.0
149  240.226990  240.226990             5082.0